.container {

    width: 1500px;
    height: 1500px;
    padding-top: 80px;
    margin-right: 80px;
}

.btn-group-vertical {
    width: 200px; 
    float:left; 
    height:100px;
    margin:10px;
    padding-top: 215px;
}

.text-center {
    padding-top: 35px;
}